@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input.peer {
    @apply block py-2.5 px-0 w-full text-base bg-transparent border-0 border-b-2 border-color3-blue appearance-none dark:border-color3-blue dark:focus:border-color2-lightblue focus:outline-none focus:ring-0 focus:border-color3-blue text-color5-dark;
  }
  label {
    @apply peer-focus:font-medium absolute text-sm  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-color2-lightblue peer-focus:dark:text-color2-lightblue peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
  }
}
@layer components {
  .btn {
    @apply focus:outline-none text-color7-light bg-color5-dark hover:bg-color9-rose 
      focus:ring-4 focus:ring-color3-blue font-medium rounded-lg text-lg px-5 py-2.5 
      mr-2 mb-2 w-[300px] mt-[15px];
  }

  .form-container {
    @apply mt-[10vh] mx-auto overflow-hidden relative rounded-[8px] bg-color4-grey/30 dark:bg-color5-dark;
    position: relative;
  }
  .form-container form {
    @apply absolute inset-[2px] rounded-[8px] bg-color4-grey/50 dark:bg-color7-light z-[10] flex flex-col py-[50px] px-[40px];
  }
}
body {
  font-family: "Permanent Marker", cursive;
}
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}
input {
  color: grey !important;
}
.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.movie {
  background-color: #080f36;
  border-radius: 3px;
  box-shadow: 4px 4px 5px rgba(63, 60, 60, 0.5);
  overflow: hidden;
  margin: 1rem;
  width: 100%;
  max-width: 300px;
  height: 450px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.movie img {
  object-fit: cover;
  width: 100%;
  height: 85%;
}

.movie-over {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  height: 40%;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
  width: 4rem;
  text-align: center;
  display: inline-block;
  line-height: 1.5rem;
  height: 2.5rem;
}

.tag.green {
  background-color: #1b5e20;
  line-height: 1.5rem;
}
.tag.red {
  background-color: #7f0000;
  line-height: 1.5rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 0px #28292d inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
